#
# Systemd unit file for SABnzbd
#

[Unit]
Description=SABnzbd Daemon

[Service]
Type=forking
User={{ sabnzbd_user }}
Group={{ sabnzbd_user }}
ExecStart=/usr/bin/python {{ sabnzbd_directory }}SABnzbd.py --daemon --config-file={{ sabnzbd_directory }}.sabnzbd/sabnzbd_config.ini -s 0.0.0.0
GuessMainPID=no

[Install]
WantedBy=multi-user.target
